<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    <!-- <script src="https://kit.fontawesome.com/f3ba0ba7d1.js" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Blog App</title>
</head>

<body>

    <div class="ui fixed attached container segment inverted menu ">
        <div class="header item"><i class="pencil alternate icon"></i></i> Blog Site</div>
        <a class="item" href="/">Home</a>
        <a class="item" href="/blogs/new">New Post</a>
        <a class="item" href="/signup">Sign up</a>
        <a class="item" href="/login">Login</a>
        <% if(currentUser){ %> 
            <a class="item float right" href="/logout">Logout</a>
        <% } %> 

    </div>